@import "tailwindcss";

@layer base {
  body {
    background-color: #F4F7FE;
    color: #1B2559;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

